input[type=number] {
	font-size: large;
	width: max-content;
	width: 50px;
}

body {
	font-family: monospace;
	background-color: #282c34;
	color: #61afef;
	text-align: center;
}
.config {
	/* background-color: red; */
	width: max-content;
	margin: auto;
	text-align: left;
}

input[type=submit] {
	color:#fff;
	text-align: center;
	padding: 20px;
	cursor: pointer;
	font-size:24px;
	outline: none;
	background-color: #98c379;
	border: none;
	border-radius:5px;
	box-shadow: 0 9px #95a5a6;
}

input[type=submit]:hover{
	background-color: #2ecc71;
}

input[type=submit]:active{
	background-color: #2ecc71;
	box-shadow: 0 5px #95a5a6;
	transform: translateY(4px);
}

.clock {
	text-align: center;
	background-color: #212327; 
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.finished {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
	text-align: center;
	background-color: aquamarine; 
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


  @keyframes heartbeat {
	from {
		
		-webkit-transform: translate(-50%, -50%) scale(50%, 50%) rotate(0deg);
		transform: translate(-50%, -50%) scale(50%, 50%) rotate(0deg);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	10% {
	  -webkit-transform: translate(-50%, -50%) scale(41%, 41%);
			  transform: translate(-50%, -50%) scale(41%, 41%);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	17% {
	  -webkit-transform: translate(-50%, -50%) scale(48%, 48%);
			  transform: translate(-50%, -50%) scale(48%, 48%);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	33% {
	  -webkit-transform: translate(-50%, -50%) scale(37%, 37%);
			  transform: translate(-50%, -50%) scale(37%, 37%);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	45% {
	  -webkit-transform: translate(-50%, -50%) scale(50%, 50%);
			  transform: translate(-50%, -50%) scale(50%, 50%);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	80% {
		-webkit-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
	}
	100% {
		-webkit-transform: translate(-50%, -50%) scale(50%, 50%) rotate(360deg);
		transform: translate(-50%, -50%) scale(50%, 50%) rotate(360deg);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  
